.itemContainer {
    margin-top: 5px;
    margin-bottom: 10px;
}

.itemName {
    color: #272727;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-family: 'Oliver', serif;
}

.itemPrice {
    color: #272727;
    margin-bottom: 5px;
    font-size: 1.2em;
    float: right;
    font-family: 'Oliver', serif;
}

.itemDescription {
    color: #727272;
    margin-top: 0px;
    font-size: 0.9em;
    font-family: 'Roboto';
    font-weight: 400;
}

