
.homePage {
width:100vw;
height: 100%;
overflow-x: hidden;
/*  Update font family */
font-family: 'Roboto', sans-serif;

}

/*  FONTS */
@font-face {
  font-family: 'Oliver';
  src: local('Oliver'), url(./Fonts/Oliver-Regular.ttf) format('truetype');
}

/* Text Styles */

.text {
margin: 0px;
padding: 0px;
color: #ffffff;

}

.logoContainer {
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.logo {
  width: calc(250px + 10vw);
  height: auto;
}

.description {
  color: #ffffff;
  margin-top: -5px;
  font-size: calc(12px + 0.5vw);
}

.videoContainer {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  overflow-x: hidden;

filter: brightness(45%);
}

.jedVideo {
  /* Make video to at least 100% wide and tall */
  min-width: 100vw; 
  min-height: 100%; 
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.menuContainer {
  margin-top: 100vh;
}

.buttonNav {
  text-align: center;
  /* Make video to at least 100% wide and tall */
  min-width: 100vw; 
  /* min-height: 100%;   */
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}




